In [ ]:
# declare a list tasks whose products you want to use as inputs
upstream = None

In [ ]:
%pip install jupysql --upgrade duckdb==0.8.1 duckdb-engine==0.9.1 -q

# Load database

In [ ]:
# Loading in SQL extension
%reload_ext sql

# Initiating a DuckDB database named 'car_data.duckdb' to run SQL queries
%sql duckdb:///data/database/car_data.duckdb

## Store queries

### Tables for Plot 1

In [ ]:
%%sql
CREATE TABLE q_1_hybrid_electric AS
    SELECT DISTINCT model_year, vehicle_type, COUNT(id) AS num_vehicles
    FROM all_vehicles
    WHERE vehicle_type = 'hybrid' OR vehicle_type = 'electric'
    GROUP BY model_year, vehicle_type
    ORDER BY num_vehicles DESC;

In [ ]:
%%sql
CREATE TABLE q_1_fuel AS
    SELECT DISTINCT model_year, vehicle_type, COUNT(id) AS num_vehicles
    FROM fuel
    GROUP BY model_year, vehicle_type
    ORDER BY model_year;

### Verify data

In [ ]:
%%sql 
SELECT * FROM q_1_hybrid_electric;

### Tables for Plot 2

In [ ]:
%%sql 
CREATE TABLE query_2_scatter AS
    SELECT range1_km, recharge_time_h, vehicleclass_, model_year
    FROM electric;

### Verify data

In [ ]:
%%sql 
SELECT * FROM query_2_scatter;

### Tables for Plot 3

In [ ]:
%%sql
CREATE TABLE hybrid_electric_count AS
    SELECT DISTINCT vehicleclass_, vehicle_type, COUNT(id) AS num_vehicles
    FROM all_vehicles
    WHERE vehicle_type = 'hybrid' OR vehicle_type = 'electric'
    GROUP BY vehicleclass_, vehicle_type
    ORDER BY num_vehicles DESC;

In [ ]:
%%sql
CREATE TABLE fuel_count AS
    SELECT DISTINCT vehicleclass_, vehicle_type, COUNT(id) AS num_vehicles
    FROM fuel
    GROUP BY vehicleclass_, vehicle_type
    ORDER BY num_vehicles DESC;

### Verify data

In [ ]:
%%sql 
SELECT * FROM hybrid_electric_count;

In [ ]:
%%sql 
SELECT * FROM fuel_count;

### Tables for Plot 4

In [ ]:
%%sql
CREATE TABLE query_4_scatter AS 
    SELECT fuelconsumption_comb_mpg, co2emissions_g_km, enginesize_l
    FROM fuel;

### Verify data

In [ ]:
%%sql 
SELECT * FROM query_4_scatter;

### Tables for Plot 5

In [ ]:
%%sql
CREATE TABLE query_5_box AS
    SELECT vehicle_type, fuelconsumption_city_l_100km	
    FROM all_vehicles
    WHERE fuelconsumption_city_l_100km is not null

### Verify data

In [ ]:
%%sql 
SELECT * FROM query_5_box;

### Tables for Plot 6

In [ ]:
%%sql
CREATE TABLE query_7_hist AS
    SELECT vehicle_type, mapped_fuel_type, co2emissions_g_km	
    FROM all_vehicles
    WHERE co2emissions_g_km is not null

### Verify data

In [ ]:
%%sql 
SELECT * FROM query_7_hist;

### Tables for Plot 7

In [ ]:
%%sql
CREATE TABLE query_8_box AS
    SELECT vehicle_type, make_, co2emissions_g_km, transmission_type
    FROM all_vehicles
    WHERE co2emissions_g_km is not null AND
    vehicle_type IN ('fuel-only', 'hybrid') AND
    make_ IN ('cadillac', 'chevrolet', 'chrysler', 'ford', 'jeep', 'lincoln')