In [ ]:
# declare a list tasks whose products you want to use as inputs
upstream = None

In [ ]:
%pip install jupysql --upgrade duckdb==0.8.1 duckdb-engine==0.9.1 -q

# Load database

In [2]:
# Loading in SQL extension
%reload_ext sql

# Initiating a DuckDB database named 'car_data.duckdb' to run SQL queries
%sql duckdb:///data/database/car_data.duckdb

## Store queries

### Tables for Plot 1

In [5]:
%%sql
CREATE TABLE q_1_hybrid_electric AS
    SELECT DISTINCT model_year, vehicle_type, COUNT(id) AS num_vehicles
    FROM all_vehicles
    WHERE vehicle_type = 'hybrid' OR vehicle_type = 'electric'
    GROUP BY model_year, vehicle_type
    ORDER BY num_vehicles DESC;

Running query in 'duckdb:///data/database/car_data.duckdb'

+-------+
| Count |
+-------+
|   24  |
+-------+

In [ ]:
%%sql
CREATE TABLE q_1_fuel AS
    SELECT DISTINCT model_year, vehicle_type, COUNT(id) AS num_vehicles
    FROM fuel
    GROUP BY model_year, vehicle_type
    ORDER BY model_year;

### Verify data

In [ ]:
%%sql 
SELECT * FROM q_1_hybrid_electric;

In [ ]:
%%sql 
SELECT * FROM q_1_fuel;

### Table for Plot 2

In [ ]:
%%sql 
CREATE TABLE boxplot_fuel_consum AS
    SELECT fuelconsumption_city_l_100km, fuelconsumption_hwy_l_100km, fuelconsumption_comb_l_100km, co2emissions_g_km
    FROM all_vehicles;

### Verify data

In [ ]:
%%sql 
SELECT * FROM boxplot_fuel_consum;

### Table for Plot 3

In [ ]:
%%sql 
CREATE TABLE electric_range_charge AS
    SELECT range1_km, recharge_time_h, vehicleclass_, model_year
    FROM electric;

### Verify data

In [ ]:
%%sql 
SELECT * FROM electric_range_charge;

### Table for Plot 4

In [ ]:
%%sql 
CREATE TABLE hist_co2 AS
    SELECT vehicle_type, mapped_fuel_type, co2emissions_g_km
    FROM all_vehicles
    WHERE co2emissions_g_km is not null ;

### Verify data

In [ ]:
%%sql 
SELECT * FROM hist_co2;

### Tables for Plot 5

In [ ]:
%%sql
CREATE TABLE co2_usa AS
    SELECT vehicle_type, make_, co2emissions_g_km, transmission_type
    FROM all_vehicles
    WHERE co2emissions_g_km is not null AND
    vehicle_type IN ('fuel-only', 'hybrid') AND
    make_ IN ('cadillac', 'chevrolet', 'chrysler', 'ford', 'jeep', 'lincoln')

### Verify data

In [ ]:
%%sql 
SELECT * FROM co2_usa;