# Car Fuel Emissions Dataset Dashboard

> This dashboard helps you explore the $CO_2$ emissions of different car models and their fuel consumption.

<b>[Data](https://open.canada.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64) Updated as of June 15, 2023</b>

In [1]:
import ipywidgets as widgets
from menu import init_widgets, style, setup_menu
from IPython.display import display

In [ ]:
def select_table(vehicle_type, year, vehicle_class, co2):
    query = f"SELECT model_year, \
                    make_, \
                    model,\
                    vehicleclass_, \
                    co2_rating, \
                    co2emissions_g_km,\
                    mapped_fuel_type, \
                    vehicle_type,\
                    fuelconsumption_city_l_100km,\
                    fuelconsumption_hwy_l_100km,\
                    consumption_combinedle_100km\	
            FROM all_vehicles \
            WHERE model_year = {year}\
            AND vehicleclass_ IN {vehicle_class}\
            AND vehicle_type = '{vehicle_type}'\
            AND co2_rating >= {co2}\
            "
            
    print("Performing query")
    # Use JupySQL magic %sql to execute the query
    result = %sql {{query}} #noqa F821

    # Convert the result to a Pandas DataFrame
    df = result.DataFrame()

    display(df)

In [2]:
%load_ext sql

%sql duckdb:///../data/database/car_data.duckdb

%config SqlMagic.displaycon = False

In [3]:
years = %sql select DISTINCT(model_year) from all_vehicles
years = [model_year[0] for model_year in years]

makes = %sql select DISTINCT(make_) from all_vehicles
makes = [m[0] for m in makes]

classes = %sql select DISTINCT(vehicleclass_) from all_vehicles
classes = [c[0] for c in classes]

co2 = %sql select DISTINCT(co2_rating) from all_vehicles
co2 = [c[0] for c in co2]

vehicle_type = %sql select DISTINCT(vehicle_type) from all_vehicles
vehicle_type = [v[0] for v in vehicle_type]

In [4]:
(
    widget_vehicle_type,
    widget_year,
    widget_make,
    widget_vehicle_class,
    widget_co2,
) = init_widgets(years, makes, classes, vehicle_type, style)

tab = setup_menu(
    widget_vehicle_type, widget_year, widget_vehicle_class, widget_co2
)  # noqa E501

output = widgets.interactive_output(
    select_table,  # noqa f821
    {
        "vehicle_type": widget_vehicle_type,
        "year": widget_year,
        "vehicle_class": widget_vehicle_class,
        "co2": widget_co2,
    },
)

display(tab, output)

Tab(children=(VBox(children=(HBox(children=(Dropdown(description='Vehicle type', options=('fuel-only', 'hybridâ€¦

Output()

## Visualizing Interactive Tables

> Multiple values can be selected with shift and/or ctrl (or command) pressed and mouse clicks or arrow keys.